In [1]:
import pandas as pd
import numpy as np

In [2]:
df_raw = pd.read_csv("all_runners.csv")

In [3]:
# Drop first column
df = df_raw.drop(df_raw.columns[[0,1]], axis= 1, inplace = False)
# Rename columns
df.columns = ['notes', "personal_score", "club", "rank", "rank_category", "category", "name", 'score']
df['row_num'] = df.reset_index().index
# Filter those who were disqualified and any bicycles
df = df[df['notes'] != 'פסול']
df = df[~df['category'].str.contains("(אופני יד)")]
# Convert to time delta -- Depracated
# df[['personal_score', 'score']] = df[['personal_score', 'score']].apply(pd.to_timedelta)

C:\Users\amitl\AppData\Local\Temp/ipykernel_13536/4205477561.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df = df[~df['category'].str.contains("(אופני יד)")]

In [5]:
splitdf = df.set_index('row_num')['category'].str.split(' ', expand = True)
Not null columns?
# 1. Check column 4:
# splitdf[splitdf[4].notnull()].drop_duplicates() # Two categories for boys and girls until age 19, '10k' in column 4
# 2. Check column 3:
# splitdf[splitdf[3].notnull()].drop_duplicates() # When column 3 is not null we also have ק"מ for senior women, 70-74

In [7]:
# Arrange a higher up categores for seniors, adult women and women (and vice versa for men)
age_categories = ['ותיקות', 'בוגרות', 'נשים', 'נערות']
splitdf['higher_cat'] = np.where(splitdf[0].str.contains('|'.join(age_categories)),
         'women', 'men')

# Remove commas
splitdf[1] = splitdf[1].str.replace(',', '')

# Condditons for race length column
conditions_2 = [
    ((splitdf[2] == 'גיל') | 
    (splitdf[2] == '10') | (splitdf[2].str.contains('קמ')) | (splitdf[1] == "10K") |
    splitdf[0].str.contains('40-44')),
    (splitdf[2] == "מרתון")
]
choices_2 = ['10K', 'Marathon']
splitdf[2] = np.select(conditions_2, choices_2, default = splitdf[2])

# Conditions for age group cat
conditions_1 = [
    ((splitdf[0] == 'בוגרות44-40') | (splitdf[1] == "44-40")), # This should probably be generalized better with proper regex
    (splitdf[1].str.contains('75') | (splitdf[1] == "70-74")),
    (splitdf[1] == "עד"),
    (splitdf[1] == "69-65"), # Ridiculous that for different groups these categories are opposite
    ((splitdf[1] == "64-60") | (splitdf[1] == "60-60")),
    (splitdf[1] == "59-55"),
    (splitdf[1] == "54-50"),
    (splitdf[1] == "49-45"),
    (splitdf[1] == "39-35"),
    (splitdf[1] == "כללי"),    
    ]
choices_1 = ['40-44', '70+', '< 19', '65-69', '60-64', '55-59', '50-54', '45-49', '35-39', 'General']
splitdf[1] = np.select(conditions_1, choices_1, default=splitdf[1])

# Remove age from minor category
splitdf[0] = splitdf[0].str.replace('\\d\\d-\\d\\d', '')

C:\Users\amitl\AppData\Local\Temp/ipykernel_13536/2262073072.py:39: FutureWarning: The default value of regex will change from True to False in a future version.
  splitdf[0] = splitdf[0].str.replace('\\d\\d-\\d\\d', '')

In [8]:
splitdf = splitdf.drop(columns = [3,4])
splitdf.head()
splitdf = splitdf.rename(columns = {0: 'minor_cat', 1: "age_cat", 2: "race_cat"})

In [10]:
cleandat = pd.merge(df, splitdf, on = 'row_num').drop(columns = ['category', 'name']).set_index('row_num')

In [11]:
cleandat.head()

,notes,personal_score,club,rank,rank_category,score,minor_cat,age_cat,race_cat,higher_cat
row_num,,,,,,,,,,
0,NaN,02:12:54,Kenia,1,1,02:12:55,גברים,General,Marathon,men
1,NaN,02:15:37,Kenia,2,2,02:15:38,גברים,General,Marathon,men
2,NaN,02:17:50,Kenia,3,3,02:17:50,גברים,General,Marathon,men
3,NaN,02:24:14,מכבי אתלטי נגב,4,4,02:24:14,גברים,General,Marathon,men
4,NaN,02:30:24,Tel Aviv,5,5,02:30:25,גברים,General,Marathon,men

In [86]:
cleandat.to_csv('clean_runners.csv',  encoding='utf-8')